@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --body-color: #2c2d2a;
  --savanna-bg: #e9bf8b;
  --beach-bg: #e7dfcf;
  --glacier-bg: #b6d6c8;
  --coral-bg: #c5c3ff;
  --arrow-fill: #333231;
  --body-font: "Montserrat", sans-serif;
  --italic-font: "EB Garamond", serif;
}

* {
  box-sizing: border-box;
  outline: none;
}

img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--body-color);
}

h1,
h2,
h3 {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: var(--body-font);
  /* background-image: url("../Com3105/background.png"); */
  background-color: #1d1e20;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding: 2em;
  width: 100%;
  /* height: 100vh; */ 
  /* color: var(--body-color); */
}
@media (max-width: 480px) {
  body {
    padding: 0;
  }
}

.container {
  /* max-width: 1100px; */
  /* background-image: url("../Com3105/background.png"); */
  border-radius: 4px;
  /* max-height: 680px; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  background-color: #e6decf;
  padding: 0 30px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}
@media (max-width: 480px) {
  .container {
    height: 100%;
    max-height: 100%;
  }
}

.header {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  white-space: nowrap; 
  flex-shrink: 0;
  font-weight: 400;
  /* border-bottom: 1px solid rgba(44, 45, 42, 0.25); */
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: #161617; */
  background-color: transparent;
  /* background-color: var(--beach-bg); */
  z-index: 6;
  font-family: 'Poppins', sans-serif;
}

header a {
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  height: 60px;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px 16px 0px;
  background-color: #161617;
  color: #f5f5f7;

}

@media (max-width: 575px) {
  .header {
    /* width: calc(100% + 20px); */
    /* margin-left: -10px; */
  }
}

/* Nav Part From HomePage */

.logo {
  display: flex;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 500;
  color: #f5f5f7;
  margin: 24px;
  text-decoration: none;
  margin-left: 20px;
}

.logo:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.navSection {
  position: fixed;
  width: 100%;
  height: 60px;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px 16px 0px;
  background-color: transparent;
  color: rgb(209 213 219 / 1);
}

ul.nav__list {
  display: flex;
  list-style: none;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  margin: 30px;
}

ul.nav__list li {
  margin: 0 10px;
  padding: 24px 15px;
  border-radius: 9999px;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 2px;
  text-align: center;
  cursor: pointer;
}

ul.nav__list a {
  color: rgb(176, 180, 185);
}

ul.nav__list li:hover {
  color: #f5f5f7;
  transform: scale(1.1);
  transition: 0.3s;
}

ul.nav__list a:hover {
  color: #f5f5f7;
}

ul.nav__list li a.active {
  color: #f5f5f7;
}

#hamburger-icon {
  margin: 30px;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: #f5f5f7;
  margin: 6px;
  transition: 0.6s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  list-style: none;
  display: none;
  position: absolute;
  /* top: 50px; */
  left: 0;
  /* background-color: #171717; */
  height: calc(100vh - 50px);
  width: 100%;
  backdrop-filter: blur(20px) saturate(80%);
  font-weight: 500;

}

ul.mobile-menu li {
  margin: 0 10px;
  padding: 24px 15px;
  border-radius: 9999px;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 2px;
  text-align: center;
  cursor: pointer;
}

ul.mobile-menu a {
  color: rgb(176, 180, 185);
}

ul.mobile-menu li:hover {
  color: #f5f5f7;
  transform: scale(1.1);
  transition: 0.3s;
}

ul.mobile-menu a:hover {
  color: #f5f5f7;
}

ul.mobile-menu li a.active {
  color: #171717;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  header nav {
      display: none;
  }

  #hamburger-icon {
      display: block;
    }
  
}




/* Old */

/* .header-menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}
@media screen and (max-width: 740px) {
  .header-menu {
    display: none;
  }
}
.header-menu a:not(:first-child) {
  margin-left: 30px;
}
.header .menu-icon {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.header .menu-icon svg {
  width: 22px;
}
.header-icons {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.header-icons svg {
  width: 18px;
}
.header-icons svg:not(:last-child) {
  margin-right: 20px;
} */

/* End of Old */

.left-side {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  max-width: 320px;
}
@media screen and (max-width: 930px) {
  .left-side {
    text-align: center;
    max-width: 450px;
  }
}

.mySwiper {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.main {
  padding: 42px 0 30px;
  display: flex;
  flex-grow: 1;
  position: relative;
}
@media screen and (max-width: 930px) {
  .main {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}
.main-header {
  /* bottom: 500px; */
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 4px;
  font-weight: 600;
  transition-delay: 0.2s;
  margin-top: 30px;
}
.main-title {
  font-family: var(--italic-font);
  font-size: 100px;
  font-weight: 400;
  margin-top: 10px;
  line-height: 1em;
  transition-delay: 0.3s;
}
.main-subtitle {
  font-family: var(--italic-font);
  font-weight: 400;
  font-size: 32px;
  margin-top: 14px;
  margin-bottom: 60px;
  transition-delay: 0.4s;
}
.main-content__title {
  /* text-align: left; */

  font-size: 26px;
  font-family: var(--italic-font);
  font-style: italic;
  /* right: 10px; */
  margin-bottom: 21px;

  transition-delay: 0.2s;
}
.main-content__subtitle {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 24px;
  letter-spacing: -0.01em;
  transition-delay: 0.3s;
}
.main-content .more-menu {
  font-size: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  transition-delay: 0.4s;
}
@media screen and (max-width: 930px) {
  .main-content .more-menu {
    justify-content: center;
  }
}
.main-content .more-menu svg {
  width: 28px;
  height: 18px;
  margin-left: 10px;
}

.center {
  display: flex;
  margin-left: 500px;
  position: relative;
  flex-shrink: 0;
}
@media screen and (max-width: 930px) {
  .center {
    margin-left: 0;
    margin-bottom: 56px;
  }
}
.center .bottle-bg {
  /* position: absolute; */
  top: 50%;
  left: 50%;
  width: 320px;
  height: 450px;
  object-fit: cover;
  border-radius: 160px;
}
@media screen and (max-width: 930px) {
  .center .bottle-bg {
    width: 260px;
    height: 390px;
  }
}
@media screen and (max-width: 575px) {
  .center .bottle-bg {
    width: 220px;
    height: 340px;
  }
}
.center .bottle-img {
  position: absolute;
  top: 25%;
  left: 0;
  transform: scale(1.6);
}

.swiper-pagination {
  position: absolute;
  right: 30px;
  left: auto;
  top: 100px;
  width: auto;
  bottom: auto;
  z-index: 2;
  font-size: 14px;
  font-family: var(--body-font);
  font-weight: 500;
}
.button-wrapper {
  position: absolute;
  /* right: 850px;
  bottom: 300px;  */
  right: 50px;
  bottom: 50px;
  z-index: 1;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 930px) {
  .button-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 0 60px;
  }
}
@media screen and (max-width: 575px) {
  .button-wrapper {
    padding: 0 20px;
  }
}
.button-wrapper svg {
  width: 28px;
}
.button-wrapper .swiper-button {
  border: 1px solid var(--body-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, var(--body-color) 40%, transparent 0%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.button-wrapper .swiper-button + .swiper-button {
  margin-left: 16px;
}
@media screen and (max-width: 930px) {
  .button-wrapper .swiper-button + .swiper-button {
    margin-left: 0;
  }
}
.button-wrapper .swiper-button:hover {
  background-color: var(--body-color);
  background-position: left bottom;
}
.button-wrapper .swiper-button:hover svg {
  stroke: #fff;
}
.button-wrapper .swiper-prev-button {
  background: linear-gradient(to left, var(--body-color) 40%, transparent 0%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all 0.3s ease-out;
}
.button-wrapper .swiper-prev-button svg {
  transform: rotate(-180deg);
}
.button-wrapper .swiper-prev-button:hover {
  background-position: right bottom;
}

.swiper-slide {
  opacity: 0 !important;
  transition: 0.4s;
}
.swiper-slide-active {
  opacity: 1 !important;
}

.swiper-slide .main-wrapper > *,
.swiper-slide .main-content > * {
  transform: translateY(-30px);
  opacity: 0;
  transition-duration: 0.8s;
}

.swiper-slide-active .main-wrapper > *,
.swiper-slide-active .main-content > * {
  transform: none;
  opacity: 1;
}

.swiper-slide .bottle-bg {
  transition-duration: 0.6s;
  opacity: 0;
  object-position: 60%;
}

.swiper-slide-active .bottle-bg {
  opacity: 1;
  transform: none;
  object-position: 50%;
}

.swiper-slide .bottle-img {
  transition-duration: 0.8s;
  transform: scale(1.2);
  opacity: 0;
}

.swiper-slide-active .bottle-img {
  opacity: 1;
  transform: scale(1.6);
}

[data-sld="1"] .container,
[data-sld="1"] .header {
  background-color: var(--savanna-bg);
}

[data-sld="2"] .container,
[data-sld="2"] .header {
  background-color: var(--glacier-bg);
}

[data-sld="3"] .container,
[data-sld="3"] .header {
  background-color: var(--coral-bg);
}



/* Next Section | Shopping cart */ 

.sectionTitle {
  font-weight: 400;
  padding-top: 10px;
  margin-top: 45px;
}

.tableForm {
  height: 100vh;
  width: 100%;
  background: url("../Project_Cycle1/src/background.jpg") no-repeat center center fixed;
  background-size: cover;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

table tr th.productItem {
  /* float: left;  */
  width: 20%;
}

table tr th.productDetail {
  /* float: left;  */
  width: 37%;
  text-align: center;
}

table tr th.productQuantity {
  /* float: left;  */
  width: 10%;
}

table tr th.productUnitPrice {
  /* float: left;  */
  width: 12%;
}

table tr th.productAmount {
  /* float: left;  */
  width: 21%;
  text-align: center;
}

table tr.product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c5c3ff;
}

table tr.product td.product-image {
  text-align: center;
}

table tr.product td.product-image img{
  width: 250px;
}

table tr.product td.product-title{
  margin-right: 20px;
  font-weight: 300;
  text-align: center;
} 

table tr.product td.product-title p{
  margin: 5px 20px 5px 190px;
  line-height: 1.4em;
  text-align: start;

} 

table tr.product td.product-Quantity{
  width: 230px;
  text-align: center;
} 

table tr.product td.product-price{
  width: 12%;
  text-align: center;
} 

table tr.product td.product-price p{
  
} 

table tr.product td.product-TotalPrice{
  width: 21%; 
  text-align: center;
} 

@media screen and (max-width: 650px) { 

  /* table {
    overflow: auto;
  } */

  table tr th.productItem {
    display: none;
  }

  table tr th.productDetail {
    display: none;
  }

  table tr th.productQuantity {
    display: none;
  }

  table tr th.productPrice {
    display: none;
  }

  table tr th.productAmount {
    display: none;
  }
  
  table tr.product td.product-image {
    float: right;
    width: auto;
  }
  
  table tr.product td.product-image img{
    margin: 50px;
  }

  table tr.product td.product-title{
    float: none;
    margin-bottom: 10px;
    width: auto;
  } 
  
  table tr.product td.product-title p{
    /* margin: 5px 20px 5px 190px;
    line-height: 1.4em; */
    text-align: start;
  
  } 
  
  table tr.product td.product-Quantity{
    width: 100px;
    text-align: center;
  } 
  
  table tr.product td.product-price{
    clear: both;
    width: 70px;
  } 

  
}

/* Button */

.frame {
  /* width: 90%; */
  /* margin: 40px auto; */
  text-align: right;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 9999px;
  padding: 10px 25px;
  /* font-family: 'Lato', sans-serif; */
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.custom-btn1 {
  width: 250px;
  height: 40px;
  color: #fff;
  border-radius: 9999px;
  padding: 10px 25px;
  /* font-family: 'Lato', sans-serif; */
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}


.resetButton {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
}

.resetButton:hover {
  color: #f0094a;
  background: transparent;
  box-shadow:none;
}

.resetButton:before,
.resetButton:after {
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #f0094a;
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}

.resetButton:after {
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

.resetButton:hover:before,
.resetButton:hover:after{
  width: 100%;
  transition:800ms ease all;
}

.confirmButton {
  background: #b621fe;
  border: none;
  z-index: 1;
}

.confirmButton:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #663dff;
  border-radius: 9999px;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.confirmButton:hover {
  color: #fff;
}
.confirmButton:hover:after {
  left: 0;
  width: 100%;
}
.confirmButton:active {
  top: 2px;
}



@media screen and (max-width: 768px) {

  .frame {
    text-align: center;
  }

  /* .productItem {
    float: right;
    width: auto;
  }
  
  .productDetail {
    float: none;
    margin-bottom: 10px;
    width: auto;
  }

  .productQuantity{
    width: 100px;
  }

  .productPrice {
    float: right;
    width: 70px;
  } */

}










